.layout {
    background: #fff;
    
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 0 50px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  
    .logo {
      font-size: 2rem;
      font-weight: bold;
      flex-shrink: 0;
    }
  
    .menu {
      flex: 1;
      display: flex;
      justify-content: center;
  
      .ant-menu-horizontal {
        border-bottom: none;
      }
  
      .ant-menu-item, .ant-menu-submenu-title {
        padding: 0 20px;
        text-decoration: none;
        color: #333;
        border-bottom: none !important;
  
        &:hover {
          color: #bb4289;
          border-bottom: none !important;
        }
  
        &:focus, &:active {
          border-bottom: none !important;
          color: #12bc6a;
        }
      }
    }
  
    .navbar-actions {
      display: flex;
      align-items: center;
  
      .search-input {
        margin-right: 20px;
        width: 200px;
      }
  
      .ant-btn {
        margin-left: 10px;
      }
    }
  }
  